<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Advice Me Music</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    {% assets "home_css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>Advice <span class="light">Me</span> Music
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#magic-results" id="go-magic" style="display: none;">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Advice Me Music</h1>
                        <p class="intro-text">Push a button and get a valuable, favourable advice.</p>
                        <a class="btn btn-large" id="magic-button" style="font-size: 4em;">
                            <i class="fa fa-magic animated"></i>MAGIC<i class="fa fa-magic animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About "Advice Me Music"</h2>
                <p>"Advice Me Music" is a small web application providing pseudorandom musical artist with probabilities according to artists' cultural valuabilities.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="magic-results" class="content-section text-center" style="display:none; padding-top: 0px;">
        <div class="magic-results-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <img class="img-circle" id="artist-image"/>
                    <h2 id="artist-name">ARTIST_NAME</h2>
                    <h4 id="artist-genres"></h4>
                    <p id="artist-description">DESCRIPTION</p>
                    <a href="#page-top" class="btn btn-large page-scroll" id="magic-button" style="font-size: 3em;">
                            <i class="fa fa-chevron-up animated"></i>TRY AGAIN<i class="fa fa-chevron-up animated"></i>
                        </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact undead404</h2>
                <p>Feel free to email me!</p>
                <p><a href="mailto:brute18@gmail.com">brute18@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/Brute18" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/undead404" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/vitaliy.seeker" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">FaceBook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; undead404 2017</p>
        </div>
    </footer>

    {% assets "home_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
</body>

</html>
